header{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
}
.headerCon{
    width:100%;
    height:100%;
    overflow: hidden;
}
.swiper-container{
    height:100%;
}
.swiper-slide{
    width:100%;
    height:100%;
    overflow: hidden;
 }
.swiper-container img{
    height:100%;
}
.swiper-pagination-bullet{
    width: 0.1rem!important;
    height: 0.025rem!important;
    border-radius: 35%!important;
    background:#999!important;
}
.swiper-pagination-bullet-active{
    background: #fff!important;
}
.login{
    z-index: 999;
    -webkit-border-radius:5% ;
    -moz-border-radius: 5% ;
    border-radius: 5% ;
}
.loginStart{
    display: block;
    width:3.38rem;
    height:0.5rem;
    background: #f83144;
    color:#fff;
    line-height:0.5rem;
    text-align: center;
    font-size:14px;
    position:fixed;
    bottom: .97rem;
    left:50%;
    margin-left: -1.7rem;
}
.loginDiv{
    position:fixed;
    left:50%;
    margin-left: -1.7rem;
    bottom: 0.69rem;
    display: none;
}
.loginDteil{
    width:3.38rem;
    height:2.34rem;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:0.26rem 0.38rem 0.32rem;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
.loginGoto{
    width:100%;
    height:0.49rem;
    box-sizing: border-box;
    padding:0.08rem 0;
    border-bottom:1px solid #e0e0e0;
}
.loginGoto input{
    width:85%;
    border:none;
    box-sizing: border-box;
}
.iconfont{
    vertical-align: middle;
}
.loginGoto .iconfont{
    display: inline-block;
    color:#fc2f43;
    font-size:33px;
}
.loginDiv p{
    font-size: 13px;
    color: #999;
    text-align: center;
    padding-top:0.18rem;
    z-index: 999;
}
.otherLogin{
    height:0.33rem;

}
.otherLogin span{
    display: block;
    color:#868686;
    font-size: 11px;
    line-height: 0.33rem;
}
.otherLogin span .iconfont{
    font-size:32px;
    line-height: 0.33rem;
    padding-left:0.12rem;
}